*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

form{
    background-color: #efeded;
    padding: 50px;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container h1{
    font-size: 24px;
    margin-bottom: 50px;
}

.container input{
    border: none;
    border-bottom: #bfbfbf 1px solid;
    outline: none;
    margin: 0 10px;
    background-color: transparent;
    height: 40px;
}

.container select{
    border: none;
    border-bottom: #bfbfbf 1px solid;
    outline: none;
    background-color: transparent;
    height: 40px;
    margin: 0 10px;
}

.registration{
    width: 50%;
}

.registration input{
    width: 100%;
}

.registration img{
    width: 40px;
    margin-right: 5px;
}

.registration div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.personal{
    width: 50%;
    padding-left: 50px;
}

.personal input{
    width: 40%;
}

.personal select{
    width: 40%;
}

.checks{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.container hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #bfbfbf;
    margin: 40px 0;
}

button{
    cursor: pointer;
    background-color: #028b94;
    color: #fff;
    padding: 10px 70px;
    border-radius: 5px;
    font-size: 14px;
    float: right;
}