*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

form{
    background-color: #efeded;
    padding-bottom: 80px;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container h1{
    font-size: 24px;
    margin-bottom: 50px;
}

.container input{
    border: none;
    border-bottom: #bfbfbf 1px solid;
    outline: none;
    margin: 0 10px;
    background-color: transparent;
    height: 40px;
}

.container select{
    border: none;
    border-bottom: #bfbfbf 1px solid;
    outline: none;
    background-color: transparent;
    height: 40px;
    margin: 0 10px;
}

.registration{
    padding: 50px;
    width: 50%;
}

.registration input{
    width: 100%;
}

.registration img{
    width: 40px;
    margin-right: 5px;
}

.registration div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.personal{
    width: 50%;
    padding-top: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.name, .details{
    display: flex;
    justify-content: space-between;
}

.name input, .details input, .details select{
    width: 48%;
}

.checks{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.container > hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #bfbfbf;
    margin: 40px 0;
}

button{
    cursor: pointer;
    background-color: #028b94;
    color: #fff;
    padding: 10px 70px;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    margin-right: 50px;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .registration{
        width: 100%;
    }

    .personal{
        width: 100%;
        padding: 0 50px 50px 50px;
        margin-bottom: 0;
    }

    .checks{
        margin-left: 50px;
    }

    .container > hr{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 600px) {
    .registration{
        width: 100%;
    }

    .personal{
        width: 100%;
        padding: 0 50px 50px 50px;
        margin-bottom: 0;
    }

    .password{
        flex-wrap:wrap;     
    }

    .password input{
        width: 70%;
    }

    .password input:nth-child(3){
        margin-left: 55px;
    }

    .checks{
        margin-left: 50px;
    }

    .container > hr{
        margin-bottom: 80px;
    }

    .name, .details{
        flex-direction: column;
    }

    .name input, .details input, .details select{
        width: 100%;
    }
}